<div class="users-sidebar clearfix">
  
  {{users-list users=users}}
  <div id="footer-title"> <h2>Simple Contact</h2> <p> created by <a class="white" href="http://www.khoapham.me" target="blank"> Khoa Pham</a> </p> </div>
</div>
{{outlet}}
